<div class = "row">
  <div class = "col-11">

  </div>
</div>
      <div class="card-header bg-primary text-white">
        <h4>Employee List</h4>
      </div>
      <div class="card-body">
        <!-- Search Box -->
        <div class="mb-4">
          <input
            type="text"
            [(ngModel)]="searchText"
            placeholder="Search..."
            class="form-control"
          />
        </div>

        <!-- Cards Display -->
        <div class="row">
          <div class="col-md-4 mb-4" *ngFor="let employee of filterEmployee()">
            <div class="card">
              <div class="card-body">
                <img [src]="employee.avatar" alt="Employee Avatar" class = "avatar" id ="avatar" name = "avatar" style="border-radius: 50px; object-fit: cover; float: right; width: 150px; height: 150px;">
                <!-- Employee Name -->
                <h5 class="card-title">
                  <a [routerLink]="['/dashboard/employee/update', employee.id]">
                    {{ employee.firstname + ' ' + employee.lastname }}
                  </a>
                </h5>
                <p class="card-text"><strong>Email:</strong> {{ employee.email }}</p>
                <p class="card-text"><strong>Gender:</strong> {{ employee.gender }}</p>
                <p class="card-text"><strong>Skills:</strong></p>
                <ul>
                  <li *ngFor="let skill of employee.skills">{{ skill }}</li>
                </ul>
                <p class="card-text"><strong>Role:</strong> {{ employee.role }}</p>
                <p class="card-text"><strong>Admin:</strong> {{ employee.is_admin ? 'Yes' : 'No' }}</p>
                <div *ngIf="!employee.project || !employee.project.id; else projectAssigned">
                  <p class = "card-text"><strong>Project: </strong>Don't have project</p>
                </div>

                <ng-template #projectAssigned>
                  <p class = "card-text"><strong>Project:</strong><a [routerLink]="['/dashboard/project/update',employee.project.id]"> {{ employee.project.name }}</a></p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
