<div class="card-body" style="background-color: whitesmoke; overflow: auto; width: 100%">
  <div class="d-flex flex-row">
    <div class="p-2"></div>
    <div class="p-2">
      <button class="collapse-arrow" (click)="toggleSearchBar()">
        <i
          [ngClass]="
            isSearchCollapsed ? 'fas fa-chevron-down' : 'fas fa-chevron-up'
          "
        ></i>
      </button>
    </div>
  </div>
  <br /><br />
  <!-- Search and Filter Section -->
  <div
    class="search-filter-container"
    [@slideInOut]="isSearchCollapsed ? 'collapsed' : 'expanded'"
  >
    <!-- Search Bar -->
    <div class="search-bar" *ngIf="!isSearchCollapsed">
      <input type="text" [(ngModel)]="searchText" placeholder="Search..." />
      <button class="search-icon"><i class="fas fa-search"></i></button>
      <button class="filter-button" (click)="toggleFilterPanel()">
        <i class="bi bi-filter"></i> Filter
      </button>
      <div *ngIf="isTableView; else cardViewIcon">
        <button class="filter-button" (click)="toggleTableView()">
          <i class="bi bi-table"></i> Table
        </button>
      </div>
      <ng-template #cardViewIcon>
        <button class="filter-button" (click)="toggleTableView()">
          <i class="bi bi-card-heading"></i> Card
        </button>
      </ng-template>
    </div>

    <!-- Filter Panel -->
    <div class="filter-panel" *ngIf="isFilterVisible">
      <div class="filter-section">
        <div class="filter-group">
          <h4>Role</h4>
          <div class="dropdown-content scrollable">
            <div
              *ngFor="let role of uniqueRoles"
              (click)="updateFilter('role', role)"
            >
              <input type="checkbox" [checked]="selectedRole.includes(role)" />
              {{ role }}
            </div>
          </div>
        </div>

        <div class="filter-group">
          <h4>Projects</h4>
          <div class="dropdown-content scrollable">
            <div
              *ngFor="let project of uniqueProjects"
              (click)="updateFilter('project', project)"
            >
              <input
                type="checkbox"
                [checked]="selectedProject.includes(project)"
              />
              {{ project }}
            </div>
          </div>
        </div>

        <div class="filter-group">
          <h4>Teams</h4>
          <div class="dropdown-content scrollable">
            <div
              *ngFor="let team of uniqueTeams"
              (click)="updateFilter('team', team)"
            >
              <input
                type="checkbox"
                [checked]="selectedDepartment.includes(team)"
              />
              {{ team }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Title -->
  <div style="text-align: center">
    <h1 style="color: black">Our People</h1>
  </div>

  <!-- Employee Cards Display -->
  <div
    class="row"
    [ngClass]="{ 'filter-active': isFilterVisible }"
    *ngIf="this.isTableView; else cardView"
  >
    <div class="col-12 col-md-4 mb-4" *ngFor="let employee of filterEmployee()" style="padding-left: -10px">
      <div class="card">
        <div class="card-body">
          <!-- Employee Skills -->
          <div class="div-em-skill">
            <ul>
              <li *ngFor="let skill of employee.skills" class="skill-item">
                {{ skill.trim() }}
              </li>
            </ul>
          </div>

          <!-- Employee Name -->
          <div *ngIf="validateUserPrivilege(); else cantclickName">
            <h5 class="card-title">
              <a [routerLink]="['/dashboard/employee/update', employee.id]">
                {{ employee.firstname + " " + employee.lastname }}
              </a>
            </h5>
          </div>
          <ng-template #cantclickName>
            <h5 class="card-title">
              {{ employee.firstname + " " + employee.lastname }}
            </h5>
          </ng-template>

          <!-- Employee Info Section -->
          <div class="row employee-info">
            <!-- Avatar -->
            <div class="col-12 col-md-4 employee-image">
              <img
                src="http://localhost:3000/upload-picture/{{ employee.avatar }}"
                alt="Employee Avatar"
                class="avatar"
              />
            </div>

            <!-- Details: Email, Team, Project -->
            <div class="col-12 col-md-8 employee-details">
              <p class="card-text">
                <strong>Email:</strong> {{ employee.email }}
              </p>

              <!-- Team -->
              <div *ngIf="validateUserPrivilege(); else userTeam">
                <p class="card-text">
                  <strong>Team:</strong>
                  <span *ngIf="employee.department?.id; else noTeam">
                    <a
                      [routerLink]="[
                        '/dashboard/department/update',
                        employee.department?.id
                      ]"
                    >
                      {{ employee.department?.name }}
                    </a>
                  </span>
                  <ng-template #noTeam>Don't have Team</ng-template>
                </p>
              </div>
              <ng-template #userTeam>
                <p class="card-text">
                  <strong>Team:</strong>
                  <span *ngIf="employee.department?.id; else noTeam">{{
                    employee.department?.name
                  }}</span>
                  <ng-template #noTeam>Don't have Team</ng-template>
                </p>
              </ng-template>

              <!-- Project -->
              <div *ngIf="validateUserPrivilege(); else userProject">
                <p class="card-text">
                  <strong>Project:</strong>
                  <span *ngIf="employee.project?.id; else noProject">
                    <a
                      [routerLink]="[
                        '/dashboard/project/update',
                        employee.project?.id
                      ]"
                    >
                      {{ employee.project?.name }}
                    </a>
                  </span>
                  <ng-template #noProject>Don't have project</ng-template>
                </p>
              </div>
              <ng-template #userProject>
                <p class="card-text">
                  <strong>Project:</strong>
                  <span *ngIf="employee.project?.id; else noProject">{{
                    employee.project?.name
                  }}</span>
                  <ng-template #noProject>Don't have project</ng-template>
                </p>
              </ng-template>
            </div>
          </div>

          <!-- Action Buttons -->
          <div *ngIf="validateUserPrivilege(); else noPrivilege">
            <div class="row">
              <div class="col-6">
                <button
                  [routerLink]="['/dashboard/employee/update', employee.id]"
                  class="view-profile-btn"
                >
                  View Details
                </button>
              </div>
              <div class="col-6">
                <button
                  [routerLink]="[
                    '/dashboard/employee/expertProfile',
                    employee.id
                  ]"
                  class="view-profile-btn"
                >
                  View EP
                </button>
              </div>
            </div>
          </div>
          <ng-template #noPrivilege>
            <div class="row">
              <div class="col">
                <button
                  [routerLink]="[
                    '/dashboard/employee/expertProfile',
                    employee.id
                  ]"
                  class="view-profile-btn"
                >
                  View EP
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cardView>
    <div
      class="row"
      [ngClass]="{ 'filter-active': isFilterVisible }"
      
    ></div>
    <div style="padding-left: -10px;
    background-color: #050a1f;
    height: 50px;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;"></div>
    <div style="overflow-x: auto">
      <table id="projectDataTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Join Date</th>
            <th>Email</th>
            <th>Role</th>
            <th>Skills</th>
            <th>Team</th>
            <th>Projects</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of filterEmployee()">
            <td>
              <a [routerLink]="['/dashboard/employee/update', employee.id]">
                {{ employee.firstname + " " + employee.lastname }}
              </a>
            </td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.joinDate }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.role.name }}</td>
            <td>
              <ul>
                <li *ngFor="let skill of employee.skills">
                  {{ skill }}
                </li>
              </ul>
            </td>
            <td>{{ employee.department?.name }}</td>
            <td>{{ employee.project?.name }}</td>
            <!-- <td>
              <ul>
                <li *ngFor="let departmentName of employee.department?.name">
                  {{ departmentName }}
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let projectName of employee.project?.name">
                  {{ projectName }}
                </li>
              </ul>
            </td>
            <td> -->
            <div class="action-buttons">
              <div class="col-sm-6">
                <a [routerLink]="['/dashboard/employee/update', employee.id]"
                  ><i class="bi bi-pencil-square" ></i
                ></a>
              </div>
              <div class="col-sm-6">
                <a [routerLink]="['/dashboard/employee/delete', employee.id]"
                  ><i class="bi bi-trash3"></i
                ></a>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
