<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="addEmployee()">
            <div class="form-group">
              <label for="name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="newEmployee.firstname"
                name="firstname"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="newEmployee.lastname"
                name="lastname"
                required
              />
            </div>

            <div class="form-group mt-2">
              <label for="gender">Gender</label>
              <select 
                id="gender" 
                name="gender" 
                class="form-control" 
                [(ngModel)]="newEmployee.gender"
                required
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="newEmployee.email"
                required
              />
            </div>


            <div class = "form-group mt-2">
              <label for ="skills">Skills</label>
              <input
              type="text"
              class="form-control"
              id = "skills"
              name ="skills"
              [(ngModel)] = "newEmployee.skills"
              required
              >
            </div>


            <div class = "form-group mt-2">
              <label for ="role">Roles</label>
              <input
              type="text"
              class="form-control"
              id = "role"
              name ="role"
              [(ngModel)] = "newEmployee.role"
              required
              >
            </div>

            <div class = "form-group mt-2">
              <label for = "projects"> Projects Assign</label>
              <select
              id ="projects"
              name="projects"
              class = "form-control"
              [(ngModel)] = "newEmployee.project"
              required
              >
              <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
            
            </select>
            </div>

            <div class ="form-group mt-2">
              <label for ="is_admin">Admin</label>
              <input type="checkbox" id ="is_admin" class ="form-control" name="is_admin" [(ngModel)] ="newEmployee.is_admin">
            </div>
            
            <button type="submit" class=" form-control btn btn-primary mt-3">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
