<div class="container mt-4">
    <h2>Create Employee</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="addEmployee();downloadJSON()">
              <div class="form-group">
                <label for="name">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="newEmployee.firstname"
                  name="firstname"
                  required
                />
              </div>
              <div class="form-group">
                <label for="name">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  [(ngModel)]="newEmployee.lastname"
                  name="lastname"
                  required
                />
              </div>
  
              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  [(ngModel)]="newEmployee.email"
                  name="email"
                  required
                />
              </div>
  
              <div class="form-group mt-2">
                <label for="birthday">Birthday</label>
                <input
                  type="date"
                  class="form-control"
                  id="birthday"
                  [(ngModel)]="newEmployee.birthday"
                  name="birthday"
                  required
                />
              </div>
  
              <div class="form-group mt-2">
                <label for="role">Role</label>
                <input
                  type="text"
                  class="form-control"
                  id="role"
                  [(ngModel)]="newEmployee.role"
                  name="role"
                  required
                />
              </div>
  
              <div class="form-group mt-2">
                <label for="skills">Skills</label>
                <input
                  type="text"
                  class="form-control"
                  id="skills"
                  [(ngModel)]="newEmployee.skills"
                  name="skills"
                  required
                />
              </div>
  
              <div class="form-group mt-2">
                <label for="isAdmin">Admin</label>
                <input
                  type="checkbox"
                  id="isAdmin"
                  [(ngModel)]="newEmployee.is_admin"
                  name="is_admin"
                />
              </div>
              <button type="submit" class="btn btn-primary mt-3">Save</button>
              <div style="display: none;"> <button (click)="downloadJSON()">Download JSON </button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  