<div class="container mt-5 p-4 rounded shadow-lg bg-white">
  <form>
    <div class="row">
      <div class="col-2">
        <p>Avatar</p>
      </div>
      <div class="col-10">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="form-group">
              <label for="firstname" class="form-label">
                <strong>First name</strong><span class="text-danger"> (*)</span>
              </label>
              <input type="text" class="form-control" id="firstname" name="firstname"
                placeholder="Enter your first name" required>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="lastname" class="form-label">
                <strong>Last name</strong><span class="text-danger"> (*)</span>
              </label>
              <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your last name"
                required>
            </div>
          </div>
        </div>
        <div class = "row g-3">
          <div class = "col">
            <div class = "form-group">
              <label for = "email"><strong>Email</strong><span class="text-danger"> (*)</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                required>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
