<div class = "container-fluid" style="padding-left: 10px;">
  <form (ngSubmit)="addRole()">
    <div class = "row">
      <div class = "col-12 col-md-6">
        <div class = "mb-3">
          <label class = "form-label" for="name">Name: <span style="color: red;">(*)</span></label>
          <input
          type="text"
          id = "name"
          name = "name"
          class = "form-control"
          [(ngModel)] = "newrole.name"
          required
          >
        </div>
      </div>
      <div class = "col-12 col-md-6" >
        <div class = "mb-3">
          <label class = "form-label" for = "privilege">Select Privilege</label>
          <select
          id = "privilege"
          name = "privilege"
          class = "form-control"
          [(ngModel)] = "newrole.privilege"
          required
          >
          <option *ngFor="let privilege of privileges" [value]="privilege">{{privilege}}</option>
        </select>
        </div>
      </div>
      <div class = "col-12">
        <div class = "mb-3">
          <button class = "btn btn-primary form-control" type="submit" id = "submit" name = "submit" >Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
