<div class="container-fluid">
  <div class="row">
    <div [ngClass]="{'col-2 col-md-2 p-0': !isCollapsed, 'col-1 col-md-1 p-0': isCollapsed}" class="sidenav-container">
      <app-navbar class="sidenav"></app-navbar>
    </div>
    <div [ngClass]="{'col-10 col-md-10': !isCollapsed, 'col-11 col-md-11': isCollapsed}" class="content-container" [class.expanded]="isCollapsed">
      <div>
        <app-topnav></app-topnav>
      </div>
      <div style="overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
