.dashboard {
    display: flex;
  
    .side-nav {
      width: 250px;
      background-color: #2c3e50;
      color: white;
      padding: 15px;
      box-sizing: border-box;
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin: 10px 0;
          position: relative;
  
          a {
            color: white;
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #34495e;
            }
          }
  
          .sub-list {
            list-style: none;
            padding-left: 20px;
            display: none; /* Hide sublist by default */
            position: absolute;
            left: 100%; /* Position the sublist to the right of the parent item */
            top: 0;
  
            li {
              margin: 5px 0;
  
              a {
                background-color: #34495e;
                padding: 8px;
                border-radius: 5px;
                display: block;
                transition: background-color 0.3s ease;
  
                &:hover {
                  background-color: #1abc9c;
                }
              }
            }
          }
  
          &:hover {
            .sub-list {
              display: block; /* Show sublist on hover */
            }
          }
        }
      }
    }
  
    .content {
      flex-grow: 1;
      padding: 20px;
    }
  }
  