<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="updateProject()">
            <div class="form-group">
              <label for="id">Project ID: </label>
              <input
                type="text"
                class="form-control"
                id="id"
                [(ngModel)]="project.id"
                name="id"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="name">Project Name: </label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="project.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="department">Department</label>
              <input
                type="text"
                class="form-control"
                id="department"
                [(ngModel)]="project.department"
                name="department"
                required
              />
            </div>

            <div class="form-group mt-2">
              <label for="startDate">Start Date</label>
              <input
                type="date"
                class="form-control"
                id="startDate"
                [(ngModel)]="project.startDate"
                name="startDate"
                required
              />
            </div>

            <div class="form-group mt-2">
              <label for="endDate">End Date</label>
              <input
                type="date"
                class="form-control"
                id="endDate"
                [(ngModel)]="project.endDate"
                name="endDate"
                required
              />
            </div>

            <div class="form-group mt-2">
              <label for="status">status</label>
              <select name="status" id="status" [(ngModel)]="project.status">
                <option value="opened">Opened</option>
                <option value="in_progress">In Progress</option>
                <option value="in_review">In Review</option>
                <option value="closed">Closed</option>
              </select>
            </div>

            <div class="form-group mt-2">
              <label for="employees">Contributor</label>
              <select class="form-control" id="employees" [(ngModel)]="project.employees" name="employees" multiple>
                <option *ngFor="let employee of employees" [value]="employee.firstname + employee.lastname + '-' + employee.role">{{employee.firstname + employee.lastname + '-' + employee.role }}</option>
              </select>
            </div>

            <div class ="form-group mt-2">
              <label for = "customer">Customer</label>
              <select class = "form-control" id = "customer" name ="customer" [(ngModel)] = "project.customer" multiple>
                <option *ngFor="let customer of customers" [value]="customer.firstname + customer.lastname ">{{ customer.firstname + ' ' + customer.lastname}}</option>
              </select>
            </div>

            <div class="form-group mt-2">
              <label for="requirements">Requirements</label>
              <textarea
                type="text"
                class="form-control"
                id="requirements"
                [(ngModel)]="project.requirements"
                name="requirements"
                required
              >
            </textarea>
            </div>
            <div class="form-group mt-2">
              <label for="skillsString">Skills</label>
              <input
                type="text"
                class="form-control"
                id="skillsString"
                name = "skillsString"
                [(ngModel)]="skillsString"
                required
              />
            </div>
          <button type="submit" class="btn btn-primary mt-3"><a href="/dashboard/project"></a>Save</button>
          <button type="button" class="btn btn-danger mt-3" [routerLink]="['/dashboard/project/delete', project.id]">Delete</button>        </form>
        </div>
      </div>
    </div>
  </div>
</div>
