<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card>
      <c-card-header>
        <button class="btn btn-primary" (click)="handleCreateEmployee()">Create</button>
        <button class="btn btn-secondary" (click)="onEditRecord()" *ngIf="!isEdit">Edit</button>
        <button class="btn btn-outline-success" (click)="onEditRecord()" *ngIf="isEdit">Save</button>
      </c-card-header>
      <c-card-body>
        <!-- Display Employee Data -->
        <table id="example" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <!-- <th>Employee ID</th> -->
              <th>NTID</th>
              <th>Employee Name</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>Team</th>
              <th>Employee Level</th>
              <th>SO Joined Date</th>
              <th>Bosch Joined Date</th>
              <th>Resource Type</th>
              <th>Total Year Experience Before Bosch</th>
              <th>Status</th>
              <th>Deactivation Reason</th>
              <th>Last Working Date</th>
              <th>Termination Date</th>
              <th>Maternity Start Date</th>
              <th>Maternity End Date</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employees" [hidden]="employee.Status != 'Active'">
                <!-- <td>
                  <input [(ngModel)]="employee.EmployeeID" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td> -->
                <td><span *ngIf="!isEdit">{{employee.NTID}}</span>
                  <input  *ngIf="isEdit" [(ngModel)]="employee.NTID" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.EmployeeName}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.EmployeeName" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.DOB}}</span>
                  <input  *ngIf="isEdit" [(ngModel)]="employee.DOB" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.Gender}}</span>
                  <select *ngIf="isEdit" class="form-select" [(ngModel)]="employee.Gender" (ngModelChange)="onChangeFields(employee.EmployeeID, $event)"
                >
                  <option [ngValue]=true>Male</option>
                  <option [ngValue]=false>Female</option>
                </select>
                </td>
                <td><span *ngIf="!isEdit">{{employee.Team}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.Team" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.EmployeeLevel}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.EmployeeLevel" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.SOJoinedDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.SOJoinedDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.BoschJoinedDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.BoschJoinedDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.ResourceType}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.ResourceType" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.TotalYearExperienceBeforeBosch}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.TotalYearExperienceBeforeBosch" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.Status}}</span>
                  <select *ngIf="isEdit" class="form-select" [(ngModel)]="employee.Status" (change)="updateStatus(employee.EmployeeID, $event)">
                    <option value="Active">Active</option>
                    <option value="Reject">Reject</option>
                  </select>
                </td>
                <td><span *ngIf="!isEdit">{{employee.DeactivationReason}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.DeactivationReason" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.LastWorkingDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.LastWorkingDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.TerminationDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.TerminationDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.MaternityStartDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.MaternityStartDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.MaternityEndDate}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.MaternityEndDate" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="date" />
                </td>
                <td><span *ngIf="!isEdit">{{employee.Remarks}}</span>
                  <input *ngIf="isEdit" [(ngModel)]="employee.Remarks" (change)="onChangeFields(employee.EmployeeID, $event)" class="form-control" type="text" />
                </td>
            </tr>
            <!-- More rows here -->
          </tbody>
        </table>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
