    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="addDepartment()">
            <div class="form-group">
              <label for="name">Department Name: </label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="newDepartment.name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="overview">Overview</label>
              <textarea
                type="text"
                class="form-control"
                id="overview"
                [(ngModel)]="newDepartment.overview"
                name="overview"
                required
              ></textarea>
            </div>


          <button type="submit" class=" form-control btn btn-primary mt-3"><a href="/dashboard/project"></a>Save</button>
          </form>
        </div>
      </div>
    </div>
