th,td {
  padding: 8px;
  white-space: nowrap;
  text-align: left;
  border: 1px solid #ccc

}

td {
}

// :host{
//   overflow-x: auto;
// }
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.form-popup {
  display: none;
  position: relative;
  width: 100%;
  height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.text-red{
  font-weight: bold;
  color: red;
}

.form-popup.active {
  display: block;
}


.bi.bi-trash3{
  color: #E32445;
  -webkit-text-stroke: 1px;
  font-size: 24px;
}
.bi.bi-pencil-square {
  color: #050A1F;
  -webkit-text-stroke: 1px;
  font-size: 24px;
}