.fixed-width-table {
  table-layout: fixed;
  width: 100%;
}
:host{
  overflow-x: auto;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.form-popup {
  display: none;
  position: fixed;
  width: 800px;
  height: 500px;
  overflow-x: auto;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.text-red{
  font-weight: bold;
  color: red;
}

.form-popup.active {
  display: block;
}

