.fixed-width-table {
  table-layout: fixed;
  width: 100%;
}

.fixed-width-table th, .fixed-width-table td {
  width: 300px;
  overflow: hidden; /* Ensures text does not overflow */
}

.container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.picture-container {
  background-color: #F2D2BD;
  height: 350px;
  margin-left: 220px;
  padding-top: 50px;
}

.chart-container {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: block;
  padding-bottom: 30px;
  padding-left: 10px;
}
