<div class = "picture-container">
  <div class ="row">
    <div class = "col" >
      <h4 style="padding: 5px; color: aliceblue;font-weight: bold; margin-left: 30px; display: block;"> Opened Projects: {{countOpen}}</h4>
    </div>
    <div class ="col">
      <h4 style="padding: 5px; color: aliceblue;font-weight: bold; margin-left: 30px; display: block;"> In Progress Projects: {{countInProgress}}</h4>
    </div>
  </div>
  <br>
  <div class ="row">
    <div class = "col" >
      <h4 style="padding: 5px; color: aliceblue;font-weight: bold;margin-left: 30px; display: flex;"> In Review Projects: {{countReview}}</h4>
    </div>
    <div class ="col">
      <h4 style="padding: 5px; color: aliceblue;font-weight: bold; display: block;"> Closed Projects: {{countClosed}}</h4>
    </div>
  </div>

    <br>
    <h4 style="padding: 5px; color: aliceblue;font-weight: bold;margin-left: 30px; display: block;"> Total Projects: {{countOpen + countInProgress + countReview + countClosed}}</h4>
</div>
<br>
<h2 style=" margin-left: 260px; font-weight: bold;">My Team Projects</h2>
<div class = 'container' style="overflow-y: auto; width: 100%; height: 500px; ;">
  <table class = "table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Department</th>
        <th>Employees</th>
        <th>Customers</th>
        <th>Skills</th>
        <th>Requirements</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let project of projects">
        <td>{{ project.status }}</td>
        <td><a [routerLink]="['/dashboard/project/update', project.id]">{{ project.name }}</a></td>
        <td>{{ project.department }}</td>
        <td>
          <table style="width: 160px;">
            <tr *ngFor="let employee of project.employees">
              <td style="padding:6px">{{ employee}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table  style="width: 160px;">
            <tr *ngFor="let customer of project.customer">
              <td style="padding: 6px;">{{ customer }}</td>
            </tr>
          </table>
        </td>
        <td >{{project.skills}}</td>
        <td>{{ project.requirements }}</td>
        <td>{{ project.startDate }}</td>
        <td>{{ project.endDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
