.container {
  display: block;
  width: 100%;
}

.row.flex-nowrap {
  width: 500px;
}
.card{
  width: 250px;
  height: 250px;
  margin-right: 5px;
}

  table.table-striped td,
  table.table-striped th {
    padding: 50px;
  }
  .column {
    float: left;
    width: 10%;
    padding: 0 10px;
  }
  .picture-container{
    background-image: url('/assets/Background.jpg');
    width: cover;
    height: 300px;
    margin-left: 220px;
    padding-top: 50px;
  }

