// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.table th,
.table td {
	min-width: 175px;
  text-align: center;
}

	.table th:first-child,
	.table td:first-child {
		min-width: 50px;
	}

	.table th:last-child,
	.table td:last-child {
		min-width: 250px;
	}

.dataTables_filter label {
	width: 50%;
	float: left;
	margin-bottom: 25px;
}