// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

a {
  text-decoration: none;
}

th{
	min-width: 175px;
	text-align: center; 
    vertical-align: middle;
	background: dodgerblue;
	color: whitesmoke;
	font-family: sans-serif;
	font-weight: lighter;
}
td {
	min-width: 175px;
	text-align: center; 
    vertical-align: middle;
}


.dataTables_filter label {
	width: 50%;
	float: left;
	margin-bottom: 25px;
}