<div class="text-white card-header" style="background-color: #050A1F; display: block;">
  <div class="row">
    <div class = "col-6">
      <h4>Please Upload your picture</h4>
    </div>
    <div class="col-2">
      <input
      id="avatar"
      name="avatar"
      (change)="onFileSelected($event)"
      type="file"
      class="btn btn-primary"
      required
    >
  </div>
  <div class = "col-sm-2">
    <button (click)="toggleVericalSlide()" >
      Toggle View
    </button>
  </div>
  <div class = "col-sm-2">
    <button (click)="deleteSlide()" >
      Delete Slide
    </button>
  </div>
   </div>
</div>

<div style="height: 100vh; position: relative; padding: 10px;">

<!-- Picture Carousel -->
<div *ngIf="pictures.length > 0" [ngClass]="{'horizontal-view': !isVertical, 'vertical-view': isVertical}" style="background-color: whitesmoke; padding: 10px; border-radius: 8px; margin-top: 20px;">
  <div
    style="
      display: flex;
      gap: 16px;
      transition: transform 0.5s ease;
      scroll-behavior: smooth;
    "
  >
    <div *ngFor="let picture of pictures" style="min-width: 250px; flex-shrink: 0; border-radius: 10px; background-color: white; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 8px;">
      <img
        [src]="'http://localhost:3000/upload-picture/' + picture"
        alt="Uploaded Slide"
        style="width: 100%; border-radius: 6px; object-fit: cover;"
      >
    </div>
  </div>

  <!-- Employee Index Component
  <div style="margin-top: 30px;">
    <app-employee-index></app-employee-index>
  </div>
  <div style="margin-top: 30px;">
    <app-project-index></app-project-index>
  </div> -->
</div>
