.card-header{
  border-radius: 15px;
}

.col-sm-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.row {
  display: flex;
  justify-content: right;
  align-items: center;
  gap:16px;
}

.btn {
  border-radius: 16px;
  color:white;
  border-color: white;
  background-color: #050A1F;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
}

.btn:hover{
  background-color: white;
  border-color:#050A1F;
  color: #050A1F;

}

.btn:active{
  background-color: white !important;
  color: #050A1F;
  border-color: #050A1F;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.horizontal-view > div {
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

.vertical-view > div {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.text-area {
  width: 100%;
  height: 150px;
  resize: none;
  overflow-y: auto;
  padding: 5px;
}



.custom-style {
  border-radius: 10%;
  border: 2px solid white;
  white-space: no-wrap;
  font-size: 24px;
}

