.sidenav {
  height: 100vh; 
  width: 230px; 
  position: flex; 
  background-color: black ; 
  overflow-x: hidden; 
  padding-top: 20px;
  display: inline-block;
  align-items: center;
  flex-direction: column;
  z-index: 1000; 

  a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;

    &:hover {
      background-color: #575757;
      color: white;
    }
  }

  // Submenu styling
  .submenu {
    display: none; // Hidden by default
    flex-direction: column;
    margin-left: 15px;

    a {
      font-size: 16px; // Smaller font size for submenu
      padding-left: 30px; // Indent submenu links
    }

    &.show {
      display: flex; // Show submenu when active
    }
    }
  }

  .menu-header-bottom{
    font-weight: bold;
    margin-top: 500px;
    border-radius: 10px;
    width: 200px;
    align-items: center;
  }


  // Menu header styling
  .menu-header {
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    background-color: #575757;
    border-radius: 10px;
    width: 200px;
    &:hover {
      background-color: #333;
    }
  }



.content {
  margin-left: 250px; // Push the content to the right of the sidebar
  padding: 20px;
  transition: margin-left 0.3s ease;
  background-color: #f4f4f4; // Light background for the content area
  min-height: 100vh; // Ensure content takes up full height
}

