.sidenav {
  background-color: #343a40;
  color: #fff;
  padding: 15px;
  font-family: Arial, sans-serif;

  a {
    color: #cfd2d6;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #495057;
      color: #fff;
    }
  }

  .menu-header {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    &.logout {
      margin-top: auto;
    }

    i {
      margin-right: 8px;
    }
  }

  .submenu {
    padding-left: 20px;

    a {
      font-size: 14px;
    }
  }
}
