  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="updateEmployee()">
            <div class = "form-group" style="padding-left: 150px;">
              <img src="{{employee.avatar}}" alt="avatar" id="avatar" name ="avatar" style="display: block; width: 200px; height: 200px;">
            </div>

            <div class="form-group">
              <label for="name">First Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="employee.firstname"
                name="firstname"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                [(ngModel)]="employee.lastname"
                name="lastname"
                required
              />
            </div>

            <div class="form-group mt-2">
              <label for="gender">Gender</label>
              <select
                id="gender"
                name="gender"
                class="form-control"
                [(ngModel)]="employee.gender"
                required
              >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>


            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="employee.email"
                required
              />
            </div>


            <div class = "form-group mt-2">
              <label for ="skills">Skills</label>
              <input
              type="text"
              class="form-control"
              id = "skills"
              name ="skills"
              [(ngModel)] = "employee.skills"
              required
              >
            </div>


            <div class = "form-group mt-2">
              <label for ="role">Roles</label>
              <input
              type="text"
              class="form-control"
              id = "role"
              name ="role"
              [(ngModel)] = "employee.role"
              required
              >
            </div>

            <div class="form-group mt-2">
              <label for="project">Projects Assign</label>
              <p *ngIf="employee.project && employee.project.name">
                <strong>Current Project:</strong> {{ employee.project.name }}
              </p>
              <select id="project" name="project" class="form-control" [(ngModel)]="employee.project" required>
                <option [ngValue]="null" selected *ngIf="!employee.project || !employee.project.id">Not Assigned</option>
                <option *ngFor="let project of projects" [ngValue]="project">{{ project.name }}</option>
              </select>
            </div>





            <div class ="form-group mt-2">
              <label for ="is_admin">Admin</label>
              <input type="checkbox" id ="is_admin" class ="form-control" name="is_admin" [(ngModel)] ="employee.is_admin">
            </div>
            <div class ="form-group mt-2">
              <div class = "row">
                <div class = "col">
                  <button type="submit" class=" form-control btn btn-primary mt-3">Save</button>
                </div>
                <div class = "col">
                  <button type="button" class=" form-control btn btn-danger mt-3" [routerLink]="['/dashboard/employee/delete',employee.id]" >Delete</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
