.large-modal .c-modal-dialog {
    max-width: 80%; /* Increase the max-width for larger modal */
    width: 80%; /* Set the modal width */
    height: 80%; /* Increase the height */
    max-height: 80vh; /* Prevent overflow */
    margin: auto; /* Center the modal */
}

.large-modal .c-modal-header {
    padding: 20px 30px; /* Add padding to the header */
}

.large-modal .c-modal-body {
    padding: 20px 30px; /* Add padding to the body */
    overflow-y: auto; /* Make sure content scrolls when necessary */
}

.large-modal .c-modal-footer {
    padding: 20px 30px; /* Add padding to the footer */
}

.cdk-overlay-container{
    z-index: 100000!important;
}